<!-- Footer -->
<footer class="page-footer font-small bg-dark text-light m-0 py-3">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-9 mt-md-0 mt-3">
        <!-- Content -->
        <h4 class="text-uppercase">
          <span class="text-info">M-Bias</span>
        </h4>
        <p>
          M-Bias is a Digital Content Platform, Specifically tailoered for HSC
          Students directly alligned with thier text books and easily accessible
          at their finger tips with just a QR Code scan.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h4><span class="text-info">Online Education</span></h4>

        <ul class="list-unstyled">
          <li>
            <p>Video Lecture</p>
          </li>
          <li>
            <p>Exams</p>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <span>© 2020 Copyright: M-Bias</span>
    <br />
    <span> Company By</span>
    <a href="mailto:darveshavi@gmail.com">
      <span class="text-info">Avinash Ishwar Darvesh</span></a
    >
    <br />
    <span> Designed By</span>
    <a
      href="https://github.com/Saurabhrkp"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-info">Saurabhrkp</span>
    </a>
    &
    <a
      href="https://github.com/omkar2398"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-info">Omkar Govalkar</span>
    </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
