<title>About PROVA TECHNOTRADE</title> <%- include('./partials/navbar') %>
<div class="row justify-content-center mx-auto">
  <div class="col-10 my-4">
    <h3>We are focused on Specialized membrane separation processes</h3>
    <ul>
      <li class="lead">
        UF/NF/RO crossflow filtration systems for industrial applications
      </li>
      <li class="lead">
        Submerged membrane filtration with Ceramic/Polymeric membrane for MBR,
        STP & other industrial processes
      </li>
      <li class="lead">Expertise in Ceramic membranes applications</li>
    </ul>

    <h4>Range of activities of Prova</h4>
    <ul>
      <li class="lead">
        Membrane separation technologies for Industrial process/wastewater
        applications
      </li>
      <li class="lead">
        Supports Membrane development; characterization and process scale up
        with components, membranes and laboratory equipment supply
      </li>
      <li class="lead">
        Introduced innovative containerized Sewage treatment plant and high
        pressure pumping solutions
      </li>
      <li class="lead">
        Exclusive representation in India
        <ul>
          <li class="lead">STERLITECH, USA for lab range of membranes</li>
          <li class="lead">
            CON-VERGENCE, Netherlands for membrane characterization digital
            systems for any membrane process
          </li>
          <li class="lead">
            INPHAZE, Australia for high resolution Electrical Impedance
            Spectroscopy (EIS) system
          </li>
        </ul>
      </li>
      <li class="lead">Ceramic membranes from international suppliers</li>
    </ul>
  </div>
</div>
<hr class="mt-0" />
<div class="row justify-content-center mx-auto">
  <div class="col-10 my-4">
    <h4>Headquarters</h4>
    <h5>Mumbai, Maharashtra</h5>
    <h4>Founded</h4>
    <h5>2004</h5>
    <h4>Specialties</h4>
    <p class="lead">
      UF/NF/RO crossflow filtration systems for industrial applications,
      Membrane Separation Systems for Lab & Industrial Application, Expertise in
      Ceramic membranes applications, Range of Membranes for Lab & Industrial
      Applications, and Submerged membrane filtration
    </p>
  </div>
</div>
<%-include('./partials/footer.ejs') %>
