<title>Welcome to PROVA TECHNOTRADE</title>
<%- include('./partials/navbar') %>
<div class="row justify-content-center mx-auto hero-content">
  <div id="particles-js" class="h-100 w-100"></div>
  <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 px-0 my-auto">
    <img class="img-fluid py-3" src="/img/selective.png" alt="" srcset="" />
  </div>
  <div class="col-sm-10 col-md-7 col-lg-6 py-3 px-sm-3 my-md-2 my-lg-4">
    <p class="text-light lead">
      <span class="text-light">PROVA TECHNOTRADE PVT. LTD.</span> offers
      membrane based technologies for filtration units in various sectors such
      as laboratory, research institutes and industries providing them with
      insightful and ingenious solutions which therefore enable to evaluate and
      implement technologies within short time.
    </p>
    <p class="text-light lead">
      PROVA introduces filtrations products from
      <a href="https://www.sterlitech.com/">
        <span class="text-light">STERLITECH industries</span></a
      >, Washington USA who is a renowned name in world of filtration
      technologies. Following are the filtration products offered.
    </p>
    <ul class="text-light lead">
      <li>Cross-Flow cells</li>
      <li>Stirred Cell</li>
      <li>PCTE(PolyCarbonate) Membranes</li>
    </ul>
    <p class="text-light lead">
      And various other products or technologies regarding filtration unit as
      per customer’s requirement.
    </p>
  </div>
</div>
<br />
<div class="row justify-content-center mx-auto my-3">
  <div class="col-sm-10 col-md-6 col-lg-6 my-auto">
    <h4>Cross Flow Cell</h4>
    <p class="text-wrap lead">
      <span class="text-dark">Cross-flow filter cells</span>
      have a constant turbulent flow along the membrane surface prevents the
      accumulation of matter on the membrane surface. The membranes used in this
      process are commonly tubes with membrane layer on the inside wall of the
      tube. The feed flow through the membrane tube has an elevated pressure as
      driving force for thefiltration process and a high flow speed to create
      turbulent conditions.
    </p>
    <p class="lead">Applications of Cross Flow Cells:</p>
    <ul class="lead">
      <li>Biopharmaceutical and food beverage processing.</li>
      <li>Extracting fruit juices.</li>
      <li>Purifying of brackish or seawater.</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4 text-center my-auto">
    <img class="img-fluid" src="/img/crossflow.png" alt="Cross-Flow Cells" />
  </div>
</div>
<hr />
<div class="row justify-content-center mx-auto my-3">
  <div class="col-sm-10 col-md-6 col-lg-6 my-auto">
    <h4>Stirred Cell</h4>
    <p class="text-wrap lead">
      <span class="text-dark">Stirred Cell</span>
      Stirred Cell is a high-pressure, chemically resistant stirred cell that
      performs a wide variety of membrane separations with maximum pressure
      rating of 1000 psig, it is ideally suited for all type of Filtrations.
      Stainless steel construction and chemically resistant components make the
      Stirred Cell an ideal choice to filter aqueous and non-aqueous solutions
      and the its design and manufacturing to provide many years of trouble-free
      operation.
    </p>
    <p class="lead">Stirred Cell Product Characteristics:</p>
    <ul class="lead">
      <li>
        Stirred cell increases membrane life and sample throughout.Its design
        offers fluid level and sample condition to be visually monitored.
      </li>
      <li>Removable caps allows sample to be added during filtration.</li>
    </ul>
    <p class="lead">Stirred cell applications:</p>
    <ul class="lead">
      <li>Desalting solutions and concentrating biological samples.</li>
      <li>Fluids with heavy particles can be filtered using high pressure.</li>
      <li>Membrane can be analysed in detail.</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4 text-center my-auto">
    <img class="img-fluid" src="/img/stirred.webp" alt="Stirred Cell" />
  </div>
</div>
<hr />
<div class="row justify-content-center mx-auto my-3">
  <div class="col-sm-10 col-md-6 col-lg-6 my-auto">
    <h4>PCTE(PolyCarbonate) membranes</h4>
    <p class="text-wrap lead">
      <span class="text-dark">We</span>
      are the most recognized suplliers of membranes in India. We supply
      membranes of all types and sizes and which are the optimum solutions for
      fitrations. The membranes offered can achieve Micro-Filtration,
      Nano-filtration, Ultra-Filtration and Reverse Osmosis.
    </p>
    <p class="lead">Advantages of using this membranes are:</p>
    <ul class="lead">
      <li>High temperature resistance and solvent capacity.</li>
      <li>Exceptional pH resistance.</li>
      <li>Wide range of pore size.</li>
      <li>Allows stong chemical wash..</li>
    </ul>
    <p class="lead">Applications of membranes:</p>
    <ul class="lead">
      <li>Used for distillation, sublimation and crystallization..</li>
      <li>Biotechnology, food and pharmaceutical industries.</li>
      <li>Production of drinking water using RO filtration.</li>
      <li>Waste water treatment</li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-5 col-lg-4 text-center my-auto">
    <img class="img-fluid" src="/img/pcte.jpg" alt="PolyCarbonate membranes" />
  </div>
</div>
<%-include('./partials/footer.ejs') %>
<script src="/js/particles.js"></script>
<script src="/js/app.js"></script>
