<title>Cellulose acetate membrane filters | PROVA TECHNOTRADE</title> <%-
include('./partials/navbar') %>
<div class="row justify-content-center mx-auto mt-4">
  <div class="col-sm-8 col-md-4 col-lg-4">
    <img
      class="img-fluid col p-0"
      src="/img/CaMembrane.png"
      alt="Cellulose Acetate Membrane Filters"
    />
  </div>

  <div class="col-sm-10 col-md-8 col-lg-6">
    <h3>CELLULOSE ACETATE MEMBRANE FILTERS</h3>
    <hr />
    <h4>Description</h4>
    <p class="lead font-weight-bold">
      Cellulose acetate (CA) membrane filters are hydrophilic, durable, and
      extremely low protein binding; ideal for applications requiring maximum
      protein recovery and minimal extractables.
    </p>
    <p class="lead">
      Pure cellulose acetate filters are internally supported by an inert
      polyester web for exceptional dimensional strength. Along with naturally
      low binding characteristics, this design facilitates high throughputs and
      reduces the need for filter changes, e!ectively decreasing both cost and
      process time. Rigorous quality standards met during production ensure that
      pore sizes and material properties are consistent from lot to lot,
      providing predictable flow rates, analytical precision, and repeatable
      results across a wide range of samples and applications, including
      proteinaceous solutions, rigorous or automated processes, and
      thermal/pressure intensive conditions.
    </p>
  </div>
</div>
<div class="row justify-content-center mx-auto mt-4">
  <div class="col-sm-10 col-md-10 col-lg-10">
    <h3 class="font-weight-bold">SPECIFICATIONS</h3>
    <hr />
    <div class="row justify-content-center">
      <table
        class="table table-dark table-hover table-sm lead col-sm-10 col-md-10 col-lg-5 mx-auto"
      >
        <thead>
          <tr>
            <th scope="col" colspan="2">
              <p class="m-0 lead font-weight-bold">GENERAL</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row">Sterilization</th>
            <td>Gamma Irradiation, EtO, Autoclave</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row">USP Class VI Testing</th>
            <td>Passed</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row">Nominal Thickness</th>
            <td>65-110 μm (135 μm for Pore Size: 3.0 μm)</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row">BSA Protein Binding</th>
            <td>3.8 μg/cm2 (26.8 μg/cm2 for Pore Size: 3.0 μm)</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row">Max Operating Temp.</th>
            <td>274°F (135°C)</td>
          </tr>
        </tbody>
      </table>
      <table
        class="table table-dark table-hover table-sm lead col-sm-10 col-md-10 col-lg-5 mx-auto"
      >
        <thead>
          <tr>
            <th scope="col" colspan="3">
              <p class="m-0 lead font-weight-bold">PERFORMANCE BY PORE SIZE</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-active">
            <th scope="row"></th>
            <td>H2O Flow Rate</td>
            <td>Bubble Point (psi)</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">0.22 μm</th>
            <td>16.1</td>
            <td>50</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">0.45 μm</th>
            <td>54.7</td>
            <td>30</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">0.65 μm</th>
            <td>70.9</td>
            <td>18</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">0.80 μm</th>
            <td>81.3</td>
            <td>14</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">1.20 μm</th>
            <td>180</td>
            <td>11</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">3.00 μm</th>
            <td>500</td>
            <td>5</td>
          </tr>
        </tbody>
        <tbody>
          <tr class="table-active">
            <th scope="row" class="text-lowercase">5.00 μm</th>
            <td>375</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr />
    <h3 class="font-weight-bold">APPLICATIONS</h3>
    <ul class="lead">
      <li>Protein/enzyme filtration and sterilization</li>
      <li>Biological fluid filtration and sterilization</li>
      <li>Tissue culture media sterilization</li>
      <li>Diagnostic cytology</li>
      <li>Receptor binding studies</li>
      <li>Enhanced recovery of fastidious grampositive organisms</li>
    </ul>
    <hr />
    <h3 class="text-center m-4 font-weight-bold">To Buy Contact us</h3>
    <hr />
  </div>
</div>
<%-include('./partials/footer.ejs') %>
