<title>Products Offered | PROVA TECHNOTRADE</title> <%-
include('./partials/navbar') %>
<div class="row justify-content-center mr-0 ml-2">
  <div
    class="card text-white bg-dark m-3 p-0 shadow-lg col-sm-10 col-md-5 col-lg-4"
  >
    <div class="card-body pb-0">
      <p class="card-title lead">Cellulose Acetate Membrane Filters</p>
    </div>
    <div class="card-body py-0">
      <a href="/product"
        ><img
          class="img-fluid col p-0"
          src="/img/CaMembrane.png"
          alt="Cellulose Acetate Membrane Filters"
      /></a>
    </div>
    <p class="card-footer text-light lead m-0">Price 5689 ₹</p>
  </div>
  <div
    class="card text-white bg-dark m-3 p-0 shadow-lg col-sm-10 col-md-5 col-lg-4"
  >
    <div class="card-body pb-0">
      <p class="card-title lead">
        CF042 Cell Assembly, Crossflow, Acetal Copolymer (Delrin) (CF042D)
      </p>
    </div>
    <div class="card-body py-0">
      <a href="/product"
        ><img
          class="img-fluid col p-0"
          src="/img/crossflow.png"
          alt="CF042 Cell Assembly, Crossflow, Acetal Copolymer (Delrin) (CF042D)"
      /></a>
    </div>
    <p class="card-footer text-light lead m-0">Price 71239 ₹</p>
  </div>
  <div
    class="card text-white bg-dark m-3 p-0 shadow-lg col-sm-10 col-md-5 col-lg-4"
  >
    <div class="card-body pb-0">
      <p class="card-title lead">
        Polycarbonate (PCTE) Membrane Filters, 8.0 Micron, 300 X 3000mm, 1/Pk
      </p>
    </div>
    <div class="card-body py-0">
      <a href="/product"
        ><img
          class="img-fluid col p-0"
          src="/img/pcte_philic_.jpg"
          alt="Polycarbonate (PCTE) Membrane Filters"
      /></a>
    </div>
    <p class="card-footer text-light lead m-0">Price 24,591 ₹</p>
  </div>
  <div
    class="card text-white bg-dark m-3 p-0 shadow-lg col-sm-10 col-md-5 col-lg-4"
  >
    <div class="card-body pb-0">
      <p class="card-title lead">
        Sterlitech HP4750 High Pressure Stirred Cell (S/P: HP4750)
      </p>
    </div>
    <div class="card-body py-0">
      <a href="/product"
        ><img
          class="img-fluid col p-0"
          src="/img/stirred.webp"
          alt="Sterlitech HP4750 High Pressure Stirred Cell (S/P: HP4750)"
      /></a>
    </div>
    <p class="card-footer text-light lead m-0">Price 211154 ₹</p>
  </div>
</div>
<%-include('./partials/footer.ejs') %>
